#horiz_navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#horiz_navbar li {
    display:inline-block;
    width: 120px;
    background-color: #2198bf;
    font-weight: bold;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

#horiz_navbar a {
    color: #FFFFFF;
    text-transform: uppercase;
}

#horiz_navbar a:hover, a:active {
    background-color: #7A991A;
}

ul.vert_navbar {

}
